/* .logo {
    height: 57px;
    width: 101px;
    overflow: hidden;
}

.logo img {
    width: 100%;
}

.blacklogo {
    height: 57px;
    width: 101px;
    overflow: hidden;
} */
.headers {
    background: hsl(125, 77%, 14%);
}

.bg-color {
    background-color: #781d1d;
}

.nn {
    position: sticky;
    top: 0;
    background-color: transparent !important;
    z-index: 999;
    margin-top: 0;
    padding-top: 9px;
}

.active {
    background-color:
        white;
}

.containerh {
    width: 100%;
}

.coli {
    display: flex;
}

#baricon {
    visibility: hidden;
    margin-top: 22px;
    height: 25px;
    margin-left: 20;
    cursor: pointer;
}

/* .logo {
    cursor: pointer;
    display: flex;
    margin-top: 21px;
    margin-left: -10px;
    height: 57px;
    width: 101px;
    overflow: hidden;
} */

.logo {
    cursor: pointer;
    display: flex;
    /* margin-top: 21px; */
    /* margin-left: -10px; */
    height: 57px;
    width: 70px;
    overflow: hidden;
    margin-top: -36px;
}

.logo img {
    height: 26px;
}

.deactive {
    height: 57px;
    width: 70px;
    overflow: hidden;
    margin-top: -36px;
}

.deactive img {
    height: 26px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: green;
    margin-top: 20px;
}

.searchBar {
    /* margin-top: 40px;
    padding-left: 25px;
    display: flex; */
    margin-top: -56px;
    /* padding-left: 25px; */
    display: flex;
    justify-content: revert;
    margin-left: 115px;
}


.searchbarhide {
    display: none;
}

.searchlogo {
    position: absolute;
    margin-top: 4px;
    width: 18px;
    margin-left: 7px;
}

.btnn {
    background-color: rgb(13, 150, 81);
    color: white;
    height: 38px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: none;
    padding: 0px 16px;
    border-radius: 4px 4px 0;
}

.nvegation {
    margin-top: -39px !important;
    float: right !important;
    align-items: end !important;
    justify-content: end !important;
}

ul {
    display: flex;
    margin-top: 13px;
    list-style: none;
}

ul li {
    padding-left: 9px;
    margin-left: 7px;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 608;
    font-family: "Helvetica";
}


.linkcolor {
    color: #62646a;
}

.disactivecolor {
    color: white;
}

ul li .global {
    padding: 18px;
}

.singinli {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.singinli:hover {
    color: #1dbf73;
    text-decoration: none;
}

.bli {
    margin-top: -6px;
}

.slider {
    margin-top: -99px;
}

.slider .carousel-indicators {
    display: none;
}

.slider .carousel-control-next {
    display: none;
}

.slider .carousel-control-prev {
    display: none;
}

.hn {
    position: absolute;
    top: 100px;
    width: 55%;
    margin-left: 30px;
    font-size: 53px;
    font-weight: 600;
    color: white;
}

.hn i {
    font-size: 55px;
    font-style: italic;
}

.logonForm {
    padding-left: 40px;
    width: 75%;
    height: 50px;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
}

.hn Form .mr-lg-O {
    padding-left: 40px;
    width: 75%;
    height: 50px;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
}

.hn Form .btnn {
    background-color: rgb(13, 150, 81);
    color: white;
    height: 50px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    padding: 0px 16px;
    border-radius: 0px 4px 4px 0;
}

.hn Form img {
    position: absolute;
    margin-top: 4px;
    width: 22px;
    margin-left: 9px;
}

.hn .populer {
    font-size: 14px;
    margin-top: 10px;
}

.hn .chip {
    color: white;
    border-color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 9px;
}


.userMenu {
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: solid 1px #e4e5e7;
    /* overflow: hidden; */
}

.userMenu ul {
    padding: 10px;
}

.userMenu ul li {
    margin-top: 15px;
}

userMenu ul li a {
    color: #8c8e95;
    font-weight: 600;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.userdetail {
    font-weight: 700;
    padding: 20px;
    background-color: #f7f7f7;
    overflow: hidden;
}

.userdetail img {
    border-radius: 50%;
}

.userdetail .userinfo {
    background-color: white;
    line-height: 40px;
    width: 27%;
    padding: 10px;
}
userdetail .userinfo .line {
    width: 100%;
 height: 1px;
 background-color: #e7e8e9;
}
.creatgig{
    margin-top: 10px;
}